/* Define color variables */
:root {
    --primary-color: #000000;
    --secondary-color: #0056b3;
    --background-color: rgba(0, 0, 0, 0.03);
    --text-color: #333;
    --card-background-color: white;
    --border-color: #ddd;
    --button-text-color: white;
    --button-hover-color: #0056b3;
    --message-color: red;
}

/* Reset some default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Header styling */
header {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

/* Flash messages styling */
h3 {
    color: var(--message-color);
    text-align: center;
    
}

/* Main section */
h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}

/* Container for scooter listings */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
}

/* Individual scooter styling */
.scooter {
    background-color: var(--card-background-color);
    /* border: 1px solid var(--border-color); */
    margin: .5em;
    padding: .5em 1em;
    width: 250px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease;
}

/* .scooter:hover {
    transform: scale(1.05);
} */

/* Scooter details */
.details {
    flex-grow: 1;
}

/* Scooter heading */
.details h3 {
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: left;
}

.details p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

.distance {
    font-weight: bold;
}

/* Buttons container - now laid out in a row with the details */
.scooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Button styling */
form input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    margin: .1em 0;
    font-size: 1rem;
    border-radius: 50px; /* Pill shape */
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

/* form input[type="submit"]:hover {
    background-color: var(--button-hover-color);
} */

/* Responsive design */
@media (max-width: 768px) {
    .scooter {
        width: 100%;
        margin: .5em 0;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }
}

/* report stuff */
.report-container {
    margin: 1em;
    background-color: var(--card-background-color);
    padding: 1em;
    border-radius: 8px;
}

.report-container h3 {
    text-align: left;
    color: var(--text-color);
    font-size: 1rem;
    padding-bottom: .25em;
}

.report-container div {
    display: flex;
    justify-content: space-between
}

.report-container input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
  }

.report-container button {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    margin: .1em 0;
    font-size: 1rem;
    border-radius: 50px; /* Pill shape */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Loader */

.hidden {
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    display: block;
    margin: 20px auto;
    box-sizing: border-box;
    position: relative;
    display: block;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    left: 0;
    bottom: 0;
    position: absolute;
    border-radius: 50% 50% 0;
    border: 15px solid var(--primary-color);
    transform: rotate(45deg) translate(0, 0);
    box-sizing: border-box;
    animation: animMarker 0.2s ease-in-out infinite alternate;
  }
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150%;
    width: 24px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    animation: animShadow 0.2s ease-in-out infinite alternate;
  }
  
  @keyframes animMarker {
    0% {
      transform: rotate(45deg) translate(5px, 5px);
    }
    100% {
      transform: rotate(45deg) translate(-5px, -5px);
    }
  }
  
  @keyframes animShadow {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
      

/* Bill styling */


  .bill {
    background-color: #d4d4d4;
    color: black;
    padding: 15px;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .bill h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
  }

  .bill p {
    font-size: 14px;
    margin: 5px 0;
    color: #333;
  }

  .bill p strong {
    font-weight: bold;
  }

  .bill hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 10px 0;
  }
