<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renting</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="header">
        <h1>You are now renting!</h1>
    </div>

    {% with messages = get_flashed_messages() %} 
        {%if messages %}
            {% for message in messages %}
                <h3>{{ message }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="action">
        <form action="/stop" method="post">
            <button type="submit">Stop</button>
        </form>
    </div>
</body>
</html>